<div class='toggle-sidenav' [class.hovered]="showHandle" (click)="sidenav.toggle()">
  <mat-icon>{{sidenav.opened ? 'arrow_back_ios' : 'arrow_forward_ios'}}</mat-icon>
</div>
<div *ngIf="isNetworkLoading" class="w-100 h-100 d-flex justify-content-center bg-white">
  <mat-spinner [diameter]="40" class="mt-3"></mat-spinner>
</div>
<div *ngIf="!isNetworkLoading && dataSource.data.length === 0"
  class="w-100 h-100 d-flex justify-content-start align-items-start bg-white">
  <span class="p-3">
    No categories or codes created
  </span>
</div>
<mat-tree *ngIf="!isNetworkLoading && dataSource.data.length !== 0" [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <div class="selectable-div d-flex justify-content-start align-items-center"
      [class.can-drag]="!node.isVisible" [draggable]="!node.isVisible" (dragstart)="hideGhost($event, node)"
      (drag)="changeDragElement($event)" (dragend)="hideDragElement($event, node)">
      <!-- use a disabled button to provide padding for tree leaf -->
      <span>{{node.name}}</span>
      <mat-icon class="material-icons-outlined d-flex align-items-center ml-2 mb-0 h6" *ngIf="node.type === 'Category'">layers</mat-icon>
      <mat-icon class="small d-flex align-items-center ml-2 mb-0" *ngIf="node.isVisible">lens</mat-icon>
    </div>
  </mat-nested-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node matTreeNodeToggle *matTreeNodeDef="let node; when: hasChildren">
    <li>
      <div draggable="true" class="selectable-div d-flex justify-content-start align-items-center"
        [class.can-drag]="!node.isVisible" (dragstart)="hideGhost($event, node)" [draggable]="!node.isVisible"
        (drag)="changeDragElement($event)" (dragend)="hideDragElement($event, node)">
        <span class="m-0">{{node.name}}</span>
        <mat-icon class="d-flex align-items-center ml-2 mb-0 h6" *ngIf="node.type === 'Category'">layers</mat-icon>
        <mat-icon class="small d-flex align-items-center ml-2 mb-0" *ngIf="node.isVisible">lens</mat-icon>
    </div>
      <ul class="nested-node" [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
<div #dragger class="dragger">
  <span></span>
</div>