.close-button {
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.dropdown-input .mat-form-field-infix {
  padding-top: 0;
}

.color-picker-button {
  border-radius: 50%;
  box-shadow: 1px 1px 4px #999;
}