<div class="close-button position-absolute" (click)="closeSidebar()" >
  <mat-icon>close</mat-icon>
</div>
<div *ngIf="inputVertex" class="p-2 d-flex flex-column justify-content-center align-items-start">
  <p class="h5 text-primary">Vertex details</p>

  <span class="text-primary">Vertex title</span>
  <mat-form-field [floatLabel]="'never'">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="inputVertex.name">
  </mat-form-field>

  <div class="d-flex align-items-center">
    <span class="text-primary">Vertex color</span>
    <button mat-icon-button class="ml-2"
      type="button"
      [(colorPicker)]="inputVertex.color"
      [cpCancelButton]="true"
      [cpOKButton]="true"
      [cpOKButtonClass]= "'primaryButton'"
    >
      <mat-icon [ngStyle]="{'color': inputVertex.color}">stop_circle</mat-icon>
    </button>
  </div>

  <div class="mt-2 d-flex align-items-center">
    <span class="text-primary">Text color</span>
    <button mat-icon-button class="ml-2"
      type="button"
      [(colorPicker)]="inputVertex.textColor"
      [cpCancelButton]="true"
      [cpOKButton]="true"
      [cpOKButtonClass]= "'primaryButton'"
    >
      <mat-icon [ngStyle]="{'color': inputVertex.textColor}">stop_circle</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="inputEdge" class="p-3 d-flex flex-column justify-content-start align-items-start">
  <p class="h5 text-primary">Edge details</p>

  <span class="text-primary">Relationship title</span>
  <mat-form-field [floatLabel]="'never'">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="inputEdge.title">
  </mat-form-field>

  <span class="text-primary">Relationship comment</span>
  <mat-form-field [floatLabel]="'never'">
    <mat-label>Comment</mat-label>
    <textarea matInput [(ngModel)]="inputEdge.comment"></textarea>
  </mat-form-field>

  <div class="d-flex">
    <div class="d-flex flex-column mr-4">
      <h4 class="m-0"><small class="text-primary">From</small></h4>
      <span>{{inputEdge.fromVertex.name}}</span>
    </div>
    <div class="d-flex flex-column">
      <h4 class="m-0"><small class="text-primary">To</small></h4>
      <span>{{inputEdge.toVertex.name}}</span>
    </div>
  </div>

  <span class="text-primary mt-3 mb-2">Relationship direction</span>
  <mat-slide-toggle [(ngModel)]="inputEdge.arrowFrom">Arrow from</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="inputEdge.arrowTo">Arrow to</mat-slide-toggle>

  <span class="text-primary mt-3 mb-0">Edge type</span>
  <mat-form-field>
    <mat-select [(ngModel)]="inputEdge.edgeType">
      <mat-option *ngFor="let edgeType of edgeTypes" [value]="edgeType">{{edgeTypeTranslations[edgeType]}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="d-flex align-items-center">
    <span class="text-primary">Edge color</span>
    <button mat-icon-button class="ml-2"
      type="button"
      [(colorPicker)]="inputEdge.color"
      [cpCancelButton]="true"
      [cpOKButton]="true"
      [cpOKButtonClass]= "'primaryButton'"
    >
      <mat-icon [ngStyle]="{'color': inputEdge.color}">stop_circle</mat-icon>
    </button>
  </div>
</div>