<div class='formDialog'>
  <h1 mat-dialog-title>Nova categoria</h1>
  <form [formGroup]="categoryForm" class="d-flex flex-column" (ngSubmit)="submit()">
    <div class="my-2 d-flex align-items-center">
      <mat-form-field class='flex-grow-1' appearance="fill">
        <mat-label>Nome</mat-label>
        <input formControlName="name" matInput>
        <mat-error *ngIf="categoryForm.get('name').invalid">Escreva um nome</mat-error>
      </mat-form-field>
      <button mat-icon-button
        type="button"
        class='category-color ml-2'
        [class.using-parent-color]="categoryForm.controls.useParentColor.value"
        [disabled]="categoryForm.controls.useParentColor.value"
        [(colorPicker)]="selectedColor"
        [cpCancelButton]="true"
        [cpOKButton]="true"
        [cpOKButtonClass]= "'primaryButton'"
        (colorPickerChange)="selectedColor = $event"
      >
        <mat-icon [ngStyle]="{'color': selectedColor}">stop_circle</mat-icon>
      </button>
    </div>
    <mat-form-field class='flex-grow-1' appearance="fill">
      <mat-label>Categoria pai</mat-label>
      <mat-select formControlName="parent"  (valueChange)="changeParent($event)">
        <mat-option>Nenhuma</mat-option>
        <mat-option appearance="fill" *ngFor="let cat of availableCategories" [(value)]="cat.id">
          <mat-icon [ngStyle]="{'color': cat.color}">stop_circle</mat-icon>
          {{cat.name}}
        </mat-option>
        <mat-select-trigger>
          <span *ngIf="selectedParent" class="d-flex align-items-center">
            <mat-icon class="mr-2" [ngStyle]="{'color': selectedParent.color}">stop_circle</mat-icon>
            {{selectedParent.name}}
          </span>
        </mat-select-trigger>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="useParentColor" (ngModelChange)="selectedColor = selectedParent.color">Use parent color</mat-checkbox>
    <mat-dialog-actions class="mb-0" *ngIf="!loadingCategories">
      <button mat-flat-button (click)="dialogRef.close()">Cancelar</button>
      <button class="primaryButton" mat-raised-button type="submit" value="Submit">Criar categoria</button>
    </mat-dialog-actions>
    <mat-spinner class="mt-2 mb-0" [diameter]="30" *ngIf="loadingCategories"></mat-spinner>
  </form>
</div>
