* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: gray;
}

.slider:first-of-type {
  margin-top: 10px;
}

.slider {
  margin-bottom: 10px;
  width: 20%;
}