@import '../../../styles.scss';

.content-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content-wrapper .navbar {
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 10;
  box-shadow: 0 1px 4px #999;
}

.content-wrapper .navbar .logo-wrapper .logo {
  width: 30px;
}

.content-wrapper .navbar .username {
  line-height: normal;
}

.content-wrapper .navbar .user-button {
  outline: none;
  background: none;
  border-radius: 8px;

  &:hover {
    background: #e5e5e5;
  }

  &:focus {
    box-shadow: none;
    background: none;
  }

  &:active {
    background: gray;
  }
}

.content-wrapper .navbar .user-button .mat-button-focus-overlay {
  opacity: 0;
}

.content-wrapper .content {
  height: calc(100% - 60px);
}

.sidenav {
  min-width: 250px;
  padding: 0 1.2em;
  background-color: mat-color($mat-gray, 50);;
  top: 56px;
}

.sidenav-container {
  flex: 1;
  background-color: white;
}

.nav-item {
  padding: 1.5em 2em;
  border-radius: 8px;

  .mat-icon {
    margin-right: 0.5em;
  }
}

.menuButton{
  color: #333;
  text-decoration: none;

  &:hover {
    background:rgb(219, 219, 219);
  }

  &:focus {
    box-shadow: none;
    background: none;
  }

  &:active {
    background: rgb(158, 158, 158);
  }
}
