<h1 mat-dialog-title>Add Relationship</h1>
<div mat-dialog-content class="d-flex justify-content-center">
  <form (ngSubmit)="submitForm()" class="d-flex flex-column">
    <span class="mb-3 w-100 pl-1 py-2 rounded text-muted bg-light">{{data.vertex.name}}</span>
    <span class="mb-2">and</span>
    <mat-form-field class="mb-2">
      <mat-label>Vertex</mat-label>
      <mat-select [(value)]="selectedVertex" [formControl]="vertexControl">
        <mat-option *ngFor="let vertex of filteredVertices()" [value]="vertex">{{vertex.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="vertexControl.invalid">Must select a vertex</mat-error>
    </mat-form-field>
    <div class="mb-2">
      <button class="mr-3" mat-raised-button (click)="dialogRef.close()">Cancel</button>
      <button class="text-light" type="submit" value="Submit" mat-raised-button color="primary">Create relationship</button>
    </div>
  </form>
</div>
