<mat-sidenav-container class='network-wrapper'>
  <mat-sidenav #sidenav class="tree-sidenav"
    [opened]="true"
    [mode]="'over'"
    disableClose
  >
    <mat-form-field class="w-100 px-3 pt-3">
      <mat-label>Network</mat-label>
      <mat-select [(ngModel)]="userService.currentNetwork">
        <mat-option *ngFor="let network of userService.networks" [value]="network">{{network.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <app-tree-view class="tree-view" [sidenav]="sidenav" [showHandle]="sidenavHover"></app-tree-view>
  </mat-sidenav>

  <mat-sidenav-content class="w-100">
    <mat-sidenav-container>
      <mat-sidenav #details class="details-sidebar" position="end" mode="over" opened="false" disableClose>
        <app-details-sidebar [inputEdge]="selectedEdge" [inputVertex]="selectedDetailsNode" (closeSidebarEvent)="details.close()"></app-details-sidebar>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class='toggle-trigger' (mouseenter)="sidenavHover = true" (mouseout)="sidenavHover = false"></div>
        <canvas #canvas></canvas>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>

</mat-sidenav-container>

<div class="position-absolute" #trigger #matTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
  <mat-menu #menu="matMenu" [class]="'mat-menu-wrapper'">
    <button *ngIf="!focusedEdge" mat-menu-item (click)="openDetailsSidenav()">Vertex details</button>
    <button *ngIf="focusedDetailsNode && filteredVertices(focusedDetailsNode).length" mat-menu-item (click)="openRelationshipDialog()">Add relationship</button>
    <button *ngIf="focusedEdge" mat-menu-item (click)="openDetailsSidenav()">Edge details</button>
    <button *ngIf="focusedDetailsNode" mat-menu-item (click)="removeVertex()">Delete vertex</button>
  </mat-menu>
</div>