app-network .network-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 11;
}

.network-wrapper .mat-sidenav {
  min-width: 140px;
  max-width: 250px;
  z-index: 10;
  overflow: visible;
  visibility: visible !important;
}

.network-wrapper .mat-sidenav-content {
  overflow: visible;
  z-index: 0;
}

.network-wrapper .mat-drawer-backdrop.mat-drawer-shown {
  visibility: hidden;
}

.network-wrapper .mat-sidenav-content .toggle-trigger {
  position: fixed;
  height: calc(100% - 60px);
  width: 10px;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.network-wrapper .details-sidebar {
  width: 220px;
}

.cdk-overlay-container .mat-menu-wrapper {
  min-height: 0;
}

.mat-menu-wrapper .mat-menu-content:not(:empty) {
  padding: 0;
}

.mat-menu-wrapper .mat-menu-content button {
  outline: none;
}