<div class='formDialog'>
  <h1 mat-dialog-title>New code</h1>
  <div mat-dialog-content class="d-flex flex-column">
    <form [formGroup]="codeForm" class="d-flex flex-column" (ngSubmit)="submit()">
      <span class="my-2 d-flex flex-row align-items-center">
        <mat-form-field class='flex-grow-1' appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="codeForm.get('name').invalid">Code title</mat-error>
        </mat-form-field>
        <button mat-icon-button
          type="button"
          class='ml-2'
          [(colorPicker)]="selectedColor"
          [cpCancelButton]="true"
          [cpOKButton]="true"
          [cpOutputFormat]="'hex'"
          [cpAlphaChannel]="'disabled'"
          (colorPickerChange)="selectedColor = $event"
        >
          <mat-icon [ngStyle]="{'color': selectedColor}">stop_circle</mat-icon>
        </button>
      </span>
      <mat-form-field class='flex-grow-1' appearance="fill">
        <mat-label>DEscription</mat-label>
        <textarea matInput class="formArea" formControlName="description"></textarea>
        <mat-error  *ngIf="codeForm.get('description').invalid">Code description</mat-error>
      </mat-form-field>

      <mat-form-field class='flex-grow-1' appearance="fill">
        <mat-label>Parent category</mat-label>
        <mat-select formControlName="parent" (valueChange)="changeParent($event)">
          <mat-option>None</mat-option>
          <mat-option appearance="fill" *ngFor="let cat of availableCategories" [(value)]="cat.id">
            <mat-icon [ngStyle]="{'color': cat.color}">stop_circle</mat-icon>
            {{cat.name}}
          </mat-option>
          <mat-select-trigger>
            <span *ngIf="selectedParent" class="d-flex align-items-center">
              <mat-icon class="mr-2" [ngStyle]="{'color': selectedParent.color}">stop_circle</mat-icon>
              {{selectedParent.name}}
            </span>
          </mat-select-trigger>
        </mat-select>
      </mat-form-field>
      <mat-dialog-actions class="mb-0">
        <button mat-flat-button type='button' (click)="dialogRef.close()">Cancel</button>
        <button class="primaryButton" mat-raised-button type="submit" value="Submit">Save code</button>
      </mat-dialog-actions>
    </form>
  </div>
</div>
