@import '../../../styles.scss';

.input-field .mat-form-field-infix {
  padding: 0;
}

.login-button {
  background: mat-color($app-primary, default);
  color: white;
  padding: 5px;
  border-radius: 10px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-button {
  background: mat-color($app-warn);
  color: white;
  padding: 5px;
  border-radius: 10px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-gif {
  transform: scale(0.5);
}